

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #3c6794;
  text-decoration: none;
}

.logo {
  width: 120px;
  transition: all 0.2s ease-in-out;
  margin-right: 50px;
}

.logo:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.2s ease-in-out;
}

.pageNav-Logo{
  width: 120px;
  transition: all 0.2s ease-in-out;
}

.pageNav-Logo:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.2s ease-in-out;
}

.star {
  width: 50px;
  margin-left: 50px;
  margin-right: 24px;
  transition: all 0.2s ease-in-out;
  animation: 1s rotate infinite;
  -webkit-animation: 1s rotate infinite;
  -moz-animation: 1s rotate infinite;
  -o-animation: 1s rotate infinite;
  animation-play-state: paused;
}

.pageNav-star {
  width: 50px;
  /* margin-left: 50px; */
  margin-right: 24px;
  transition: all 0.2s ease-in-out;
  animation: 1s rotate infinite;
  -webkit-animation: 1s rotate infinite;
  -moz-animation: 1s rotate infinite;
  -o-animation: 1s rotate infinite;
  animation-play-state: paused;
}

.illo-container:hover .star {
  animation-play-state: running;
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.resume-link {
  font-weight: 500;
  color: #000;
  text-decoration: none;
  font-size: 1.3rem;
}

.resume-sidebar {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.Contact-links {
  margin: 5px;
  color: #000;
}

.Contact-links:hover {
  transform: scale(1.1, 1.1);
}

.nomnom-logo {
  width: 250px;
}

.cue-logo {
  width: 250px;
}

.docet-logo {
  width: 230px;
}


.footer-logo {
  width: 150px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(171deg) brightness(106%) contrast(95%);
}

.footer-star{
  width: 50px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(171deg) brightness(106%) contrast(95%);
}

.footer-links {
  color: #f9f9f9;
  margin: 10px 10px 5px 10px;
  cursor: pointer;
}

.footer-links:hover {
  transform: scale(1.1, 1.1);
}

.self {
  width: 330px;
  margin-right: 40px;
}

.pdf-container {
  width: 100%;
  height: 100vh;
  background-color: #0c77c3;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .self {
    width: 250px;
  }
}

@media screen and (max-width: 600px) {
  .docet-logo, .cue-logo, .nomnom-logo {
    width: 140px;
  }
  .self {
    width: 250px;
  }
}

@media screen and (max-width: 480px) {
  .docet-logo, .cue-logo, .nomnom-logo {
    width: 130px;
  }
}

@media screen and (max-width: 307px) {
  .pageNav-star{
    margin-right: 10px;
  }
}

